<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo materials for links -->
  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <selfCollide>true</selfCollide>
  </gazebo>

  <!-- Right arm links -->
  <xacro:macro name="gazebo_link_material" params="link_name">
    <gazebo reference="${link_name}">
      <material>Gazebo/White</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <selfCollide>true</selfCollide>
    </gazebo>
  </xacro:macro>

  <!-- Apply materials to all links -->
  <xacro:gazebo_link_material link_name="r1"/>
  <xacro:gazebo_link_material link_name="r2"/>
  <xacro:gazebo_link_material link_name="r3"/>
  <xacro:gazebo_link_material link_name="r4"/>
  <xacro:gazebo_link_material link_name="r5"/>
  <xacro:gazebo_link_material link_name="r6"/>
  <xacro:gazebo_link_material link_name="r7"/>
  <xacro:gazebo_link_material link_name="rt"/>
  
  <xacro:gazebo_link_material link_name="l1"/>
  <xacro:gazebo_link_material link_name="l2"/>
  <xacro:gazebo_link_material link_name="l3"/>
  <xacro:gazebo_link_material link_name="l4"/>
  <xacro:gazebo_link_material link_name="l5"/>
  <xacro:gazebo_link_material link_name="l6"/>
  <xacro:gazebo_link_material link_name="l7"/>
  <xacro:gazebo_link_material link_name="lt"/>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find dual_arms)/config/dual_arms_controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- Transmission elements for ros2_control -->
  <xacro:macro name="transmission_block" params="joint_name">
    <transmission name="${joint_name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint_name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Apply transmissions to all joints -->
  <!-- Right arm -->
  <xacro:transmission_block joint_name="r-j1"/>
  <xacro:transmission_block joint_name="r-j2"/>
  <xacro:transmission_block joint_name="r-j3"/>
  <xacro:transmission_block joint_name="r-j4"/>
  <xacro:transmission_block joint_name="r-j5"/>
  <xacro:transmission_block joint_name="r-j6"/>
  <xacro:transmission_block joint_name="r-j7"/>

  <!-- Left arm -->
  <xacro:transmission_block joint_name="l-j1"/>
  <xacro:transmission_block joint_name="l-j2"/>
  <xacro:transmission_block joint_name="l-j3"/>
  <xacro:transmission_block joint_name="l-j4"/>
  <xacro:transmission_block joint_name="l-j5"/>
  <xacro:transmission_block joint_name="l-j6"/>
  <xacro:transmission_block joint_name="l-j7"/>

  <!-- Gazebo joint properties -->
  <xacro:macro name="gazebo_joint" params="joint_name">
    <gazebo reference="${joint_name}">
      <implicitSpringDamper>true</implicitSpringDamper>
    </gazebo>
  </xacro:macro>

  <xacro:gazebo_joint joint_name="r-j1"/>
  <xacro:gazebo_joint joint_name="r-j2"/>
  <xacro:gazebo_joint joint_name="r-j3"/>
  <xacro:gazebo_joint joint_name="r-j4"/>
  <xacro:gazebo_joint joint_name="r-j5"/>
  <xacro:gazebo_joint joint_name="r-j6"/>
  <xacro:gazebo_joint joint_name="r-j7"/>
  
  <xacro:gazebo_joint joint_name="l-j1"/>
  <xacro:gazebo_joint joint_name="l-j2"/>
  <xacro:gazebo_joint joint_name="l-j3"/>
  <xacro:gazebo_joint joint_name="l-j4"/>
  <xacro:gazebo_joint joint_name="l-j5"/>
  <xacro:gazebo_joint joint_name="l-j6"/>
  <xacro:gazebo_joint joint_name="l-j7"/>

</robot>
