<launch>
  <!-- 静态tf变换 footprint-->
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 0.065 0 0 0 base_footprint base_link 50" />
  <!-- 静态tf变换 front_laser -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="front_laser_broadcaster" args="$(optenv GLOBAL_LASER_1_POSE_X 0) $(optenv GLOBAL_LASER_1_POSE_Y 0) $(optenv GLOBAL_LASER_1_POSE_Z 0) $(optenv GLOBAL_LASER_1_POSE_YAW 0) $(optenv GLOBAL_LASER_1_POSE_PITCH 0) $(optenv GLOBAL_LASER_1_POSE_ROLL 0) base_link front_laser 50" /> -->
  <include file="$(find dynamic_tf_publisher)/launch/front_laser_dynamic_tf_publisher.launch" />
  <!-- 静态tf变换 rear_laser -->
  <include file="$(find dynamic_tf_publisher)/launch/rear_laser_dynamic_tf_publisher.launch" />
  <!-- 静态tf变换 超声波 -->
  <arg name="SONAR_AMOUNT" default="$(optenv GLOBAL_SONAR_AMOUNT 0)"/>
  <group if="$(eval (arg('SONAR_AMOUNT') > 0))">
    <node pkg="tf" type="static_transform_publisher" name="sonar_0_broadcaster" args="$(optenv GLOBAL_SONAR_0_X 0) $(optenv GLOBAL_SONAR_0_Y 0) $(optenv GLOBAL_SONAR_0_Z 0) $(optenv GLOBAL_SONAR_0_YAW 0) $(optenv GLOBAL_SONAR_0_PITCH 0) $(optenv GLOBAL_SONAR_0_ROLL 0) base_link sonar0 50" if="$(eval (arg('SONAR_AMOUNT') > 0))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_1_broadcaster" args="$(optenv GLOBAL_SONAR_1_X 0) $(optenv GLOBAL_SONAR_1_Y 0) $(optenv GLOBAL_SONAR_1_Z 0) $(optenv GLOBAL_SONAR_1_YAW 0) $(optenv GLOBAL_SONAR_1_PITCH 0) $(optenv GLOBAL_SONAR_1_ROLL 0) base_link sonar1 50" if="$(eval (arg('SONAR_AMOUNT') > 1))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_2_broadcaster" args="$(optenv GLOBAL_SONAR_2_X 0) $(optenv GLOBAL_SONAR_2_Y 0) $(optenv GLOBAL_SONAR_2_Z 0) $(optenv GLOBAL_SONAR_2_YAW 0) $(optenv GLOBAL_SONAR_2_PITCH 0) $(optenv GLOBAL_SONAR_2_ROLL 0) base_link sonar2 50" if="$(eval (arg('SONAR_AMOUNT') > 2))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_3_broadcaster" args="$(optenv GLOBAL_SONAR_3_X 0) $(optenv GLOBAL_SONAR_3_Y 0) $(optenv GLOBAL_SONAR_3_Z 0) $(optenv GLOBAL_SONAR_3_YAW 0) $(optenv GLOBAL_SONAR_3_PITCH 0) $(optenv GLOBAL_SONAR_3_ROLL 0) base_link sonar3 50" if="$(eval (arg('SONAR_AMOUNT') > 3))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_4_broadcaster" args="$(optenv GLOBAL_SONAR_4_X 0) $(optenv GLOBAL_SONAR_4_Y 0) $(optenv GLOBAL_SONAR_4_Z 0) $(optenv GLOBAL_SONAR_4_YAW 0) $(optenv GLOBAL_SONAR_4_PITCH 0) $(optenv GLOBAL_SONAR_4_ROLL 0) base_link sonar4 50" if="$(eval (arg('SONAR_AMOUNT') > 4))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_5_broadcaster" args="$(optenv GLOBAL_SONAR_5_X 0) $(optenv GLOBAL_SONAR_5_Y 0) $(optenv GLOBAL_SONAR_5_Z 0) $(optenv GLOBAL_SONAR_5_YAW 0) $(optenv GLOBAL_SONAR_5_PITCH 0) $(optenv GLOBAL_SONAR_5_ROLL 0) base_link sonar5 50" if="$(eval (arg('SONAR_AMOUNT') > 5))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_6_broadcaster" args="$(optenv GLOBAL_SONAR_6_X 0) $(optenv GLOBAL_SONAR_6_Y 0) $(optenv GLOBAL_SONAR_6_Z 0) $(optenv GLOBAL_SONAR_6_YAW 0) $(optenv GLOBAL_SONAR_6_PITCH 0) $(optenv GLOBAL_SONAR_6_ROLL 0) base_link sonar6 50" if="$(eval (arg('SONAR_AMOUNT') > 6))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_7_broadcaster" args="$(optenv GLOBAL_SONAR_7_X 0) $(optenv GLOBAL_SONAR_7_Y 0) $(optenv GLOBAL_SONAR_7_Z 0) $(optenv GLOBAL_SONAR_7_YAW 0) $(optenv GLOBAL_SONAR_7_PITCH 0) $(optenv GLOBAL_SONAR_7_ROLL 0) base_link sonar7 50" if="$(eval (arg('SONAR_AMOUNT') > 7))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_8_broadcaster" args="$(optenv GLOBAL_SONAR_8_X 0) $(optenv GLOBAL_SONAR_8_Y 0) $(optenv GLOBAL_SONAR_8_Z 0) $(optenv GLOBAL_SONAR_8_YAW 0) $(optenv GLOBAL_SONAR_8_PITCH 0) $(optenv GLOBAL_SONAR_8_ROLL 0) base_link sonar8 50" if="$(eval (arg('SONAR_AMOUNT') > 8))" />
    <node pkg="tf" type="static_transform_publisher" name="sonar_9_broadcaster" args="$(optenv GLOBAL_SONAR_9_X 0) $(optenv GLOBAL_SONAR_9_Y 0) $(optenv GLOBAL_SONAR_9_Z 0) $(optenv GLOBAL_SONAR_9_YAW 0) $(optenv GLOBAL_SONAR_9_PITCH 0) $(optenv GLOBAL_SONAR_9_ROLL 0) base_link sonar9 50" if="$(eval (arg('SONAR_AMOUNT') > 9))" />
  </group>
  <!-- 静态tf变换 imu -->
  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="$(optenv GLOBAL_IMU_X 0) $(optenv GLOBAL_IMU_Y 0) $(optenv GLOBAL_IMU_Z 0) $(optenv GLOBAL_IMU_YAW 0) $(optenv GLOBAL_IMU_PITCH 0) $(optenv GLOBAL_IMU_ROLL 0) base_link base_imu 50" />
  <!-- IMU -->
  <group if="$(eval (env('GLOBAL_IMU_TYPE') == 'CHAOHE'))">
    <include file="$(find hipnuc_imu)/launch/imu_msg.launch" />
  </group>
  <group if="$(eval (env('GLOBAL_IMU_TYPE') == 'OLD_CHAOHE'))">
    <include file="$(find hipnuc_imu_publisher)/launch/imu_publisher.launch" />
  </group>

  <!-- MCU -->
  <include file="$(find serial_stm)/launch/mcu.launch" />
  <!-- LASER -->
  <include file="$(find rplidar_ros)/launch/rplidar_back.launch" />
  <include file="$(find rplidar_ros)/launch/rplidar_front.launch" />
  <!-- LASER  FILTER -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="front_laser_filter">
    <remap from="scan" to="front_scan" />
    <remap from="scan_filtered" to="front_scan_filtered" />
    <rosparam>
      scan_filter_chain:
      - name: shadows
        type: laser_filters/ScanShadowsFilter
        params:
          min_angle: 5
          max_angle: 175
          neighbors: 10
          window: 1 
      - name: box
        type: laser_filters/LaserScanBoxFilter
        params: 
          box_frame: base_link
          min_x: -0.32 
          max_x: 0.32
          min_y: -0.22
          max_y: 0.22
          min_z: -1.0
          max_z: 1.0
      - name: angle
        type: laser_filters/LaserScanAngularBoundsFilterInPlace
        params:
          lower_angle: -1.57
          upper_angle: 1.57
    </rosparam>
  </node>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="back_laser_filter">
    <remap from="scan" to="back_scan" />
    <remap from="scan_filtered" to="back_scan_filtered" />
    <rosparam>
      scan_filter_chain:
      - name: shadows
        type: laser_filters/ScanShadowsFilter
        params:
          min_angle: 5
          max_angle: 175
          neighbors: 10
          window: 1 
      - name: box
        type: laser_filters/LaserScanBoxFilter
        params: 
          box_frame: base_link
          min_x: -0.32 
          max_x: 0.32
          min_y: -0.22
          max_y: 0.22
          min_z: -1.0
          max_z: 1.0
      - name: angle
        type: laser_filters/LaserScanAngularBoundsFilterInPlace
        params:
          lower_angle: -1.57
          upper_angle: 1.57
    </rosparam>
  </node>
  <!-- laser merge -->
  <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" />
  <!-- 合并后的激光做 打地的过滤 -->
  <group if="$(eval optenv('LASER_SCAN_GROUND_FILTER_ENABLE', '0') == '1')">
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="scan_multi_laser_filter">
      <remap from="scan" to="scan_multi_raw" />
      <remap from="scan_filtered" to="scan_multi" />
      <rosparam>
        scan_filter_chain:
        - name: dadi
          type: qyh_ground_scan_filter/QyhGroundScanFilter
          params:
            laser_height: 0.05
            base_frame_id: base_link
      </rosparam>
    </node>
  </group>
  <!-- collision handle -->
  <include file="$(find collision_handle)/launch/collision_handle_node.launch" />

  <!-- recorde bag -->
  <include file="$(find bag_pkg)/launch/WriteBag.launch" />
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" output="screen" />
  <node name="key_operator_node" pkg="key_operator" type="key_operator_node" output="screen">
    <param name="rate" value="10" />
    <remap from="key_control" to="hand_control" />
    <remap from="cmd_vel" to="key_op_cmd_vel_raw" />
  </node>
  <!-- joy operator -->
  <include file="$(find joy_control)/launch/joycontrol.launch" />
  <!-- map manager -->
  <include file="$(find map_manager)/launch/map_manager.launch" />
  <!-- convert2png -->
  <node name="convert2png_node" pkg="convert2png" type="convert2png_node" output="screen" />
  <!-- message center -->
  <include file="$(find message_center)/launch/message_center.launch" />

  <include file="$(find task_manager)/launch/task_manager.launch" />

  <!-- move base flex -->
  <node name="move_base_flex" pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="true" respawn_delay="5"
    output="screen" >
    <remap from="cmd_vel" to="/move_base_cmd_vel_raw" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/planners.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/controllers.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/recovery_behaviors.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/navigation_costmap_common_params.yaml"
      command="load" ns="global_costmap" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/navigation_costmap_common_params.yaml"
      command="load" ns="local_costmap" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/navigation_local_costmap_params.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/navigation_global_costmap_params.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/navigation_global_planner_params.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/teb_local_planner_params.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/dwa_local_planner_params.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/base_local_planner_params.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/qyh_auto_charge_planner_params.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/qyh_charge_leave_planner_params.yaml"
      command="load" />
    <rosparam
      file="$(find bringup)/launch/$(env GLOBAL_ROBOT_NAME)_$(optenv GLOBAL_ROBOT_VERSION)/param/costmap_converter_params.yaml"
      command="load" />
    <param name="planner_max_retries" value="1" />
    <param name="planner_patience" value="5.0" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="4.5" />
    <param name="alternate_space" value="0.05" />
    <param name="alternate_close_to_goal_distance" value="1.3" />
    <param name="TebLocalPlannerROS/max_vel_x" value="$(env GLOBAL_DEFAULT_MAX_VEL_X)" />
    <param name="TebLocalPlannerROS/max_vel_theta" value="$(env GLOBAL_MAX_VEL_THETA)" />
    <param name="TebLocalPlannerROS/acc_lim_x" value="$(env GLOBAL_ACC_VEL_X)" />
    <param name="TebLocalPlannerROS/acc_lim_theta" value="$(env GLOBAL_ACC_VEL_THETA)" />
    <param name="DWAPlannerROS/max_vel_x" value="$(env GLOBAL_DEFAULT_MAX_VEL_X)" />
    <param name="DWAPlannerROS/max_vel_theta" value="$(env GLOBAL_MAX_VEL_THETA)" />
    <param name="DWAPlannerROS/acc_lim_x" value="$(env GLOBAL_ACC_VEL_X)" />
    <param name="DWAPlannerROS/acc_lim_theta" value="$(env GLOBAL_ACC_VEL_THETA)" />
    <param name="force_stop_at_goal" value="True" />
    <param name="force_stop_on_cancel" value="True" />
    <param name="QyhAutoChargePlannerROS/wait_charge_status_change_secs" value="$(optenv WAIT_CHARGE_STATUS_CHANGE_SECS 8)" />
  </node>

  <!-- cmd vel mux -->
  <include file="$(find cmd_vel_mux)/launch/cmd_vel_mux.launch" />

  <!-- 只平滑以下三个速度 -->
  <!-- 平滑导航速度 -->
  <node pkg="qyh_speed_smoother" type="qyh_speed_smoother_node" name="qyh_speed_smoother_node_move_base">
    <param name="frequency" value="10" />
    <param name="speed_lim_v" value="$(optenv GLOBAL_MAX_VEL_X 0.5)" />
    <param name="speed_lim_w" value="$(optenv GLOBAL_MAX_VEL_THETA 0.5)" />
    <param name="accel_lim_v" value="$(optenv GLOBAL_ACC_VEL_X 0.5)" />
    <param name="accel_lim_w" value="$(optenv GLOBAL_ACC_VEL_THETA 0.5)" />
    <remap from="raw_cmd_vel" to="/move_base_cmd_vel_raw" />
    <remap from="smooth_cmd_vel" to="/move_base_cmd_vel" />
    <remap from="odometry" to="/odom" />
    <param name="ratio_vx" value="2.0" />
    <param name="ratio_vx_slow_down" value="4.0" />
    <param name="ratio_vtheta" value="4.0" />
  </node>

  <!-- 平滑key_op速度 -->
  <node pkg="qyh_speed_smoother" type="qyh_speed_smoother_node" name="qyh_speed_smoother_node_key_op">
    <param name="frequency" value="10" />
    <param name="speed_lim_v" value="$(optenv GLOBAL_MAX_VEL_X 0.5)" />
    <param name="speed_lim_w" value="$(optenv GLOBAL_MAX_VEL_THETA 0.5)" />
    <param name="accel_lim_v" value="$(optenv GLOBAL_ACC_VEL_X 0.5)" />
    <param name="accel_lim_w" value="$(optenv GLOBAL_ACC_VEL_THETA 0.5)" />
    <remap from="raw_cmd_vel" to="/key_op_cmd_vel_raw" />
    <remap from="smooth_cmd_vel" to="/key_op_cmd_vel" />
    <remap from="odometry" to="/odom" />
    <param name="ratio_vx" value="2.0" />
    <param name="ratio_vx_slow_down" value="4.0" />
    <param name="ratio_vtheta" value="4.0" />
  </node>

  <!-- 平滑joy_op速度 -->
  <node pkg="qyh_speed_smoother" type="qyh_speed_smoother_node" name="qyh_speed_smoother_node_joyop">
    <param name="frequency" value="10" />
    <param name="speed_lim_v" value="$(optenv GLOBAL_MAX_VEL_X 0.5)" />
    <param name="speed_lim_w" value="$(optenv GLOBAL_MAX_VEL_THETA 0.5)" />
    <param name="accel_lim_v" value="$(optenv GLOBAL_ACC_VEL_X 0.5)" />
    <param name="accel_lim_w" value="$(optenv GLOBAL_ACC_VEL_THETA 0.5)" />
    <remap from="raw_cmd_vel" to="/joyop_cmd_vel_raw" />
    <remap from="smooth_cmd_vel" to="/joyop_cmd_vel" />
    <remap from="odometry" to="/odom" />
    <param name="ratio_vx" value="2.0" />
    <param name="ratio_vx_slow_down" value="4.0" />
    <param name="ratio_vtheta" value="4.0" />
  </node>

  <!-- 盘点 -->
  <include file="$(find qyh_stocktaking)/launch/qyh_stocktaking.launch" />

  <!-- 激光雷达直线提取 -->
  <include file="$(find laserline)/launch/laserline_back.launch" />
  <include file="$(find laserline)/launch/laserline_front.launch" />

  <!-- sub communication -->
  <include file="$(find sub_communication)/launch/sub_communication.launch" />
  <!-- 迷路关机 -->
  <include file="$(find shutdown_when_lost)/launch/shutdown_when_lost.launch" />
   <!-- 事件管理器 -->
  <include file="$(find exception_event_manager)/launch/exceptionEventHandle.launch" />
  <!-- 自动生成地图点 -->
  <include file="$(find qyh_auto_gen_map_point)/launch/qyh_auto_gen_map_point.launch" />
  <!-- 激光标定 -->
  <include file="$(find lidar_calibration)/launch/lidar_calibration.launch" />
</launch>